<div class="container">
    <div class="row">
        <div class="col-md-6" style="margin-top: 20vh;">
            <div>
                <h2 style="font-style: italic; color: #00203FFF;">Streamline Caregiving, Enhance Patient Well-being</h2>
                <p style="font-size: 1.2rem;">Our app simplifies caregiving tasks, empowering caregivers to effortlessly manage patient profiles, medication schedules, and incident logs. With intuitive features and seamless integration with healthcare systems, caregivers can focus on providing quality care while staying connected and organized.</p>
            </div>
        </div>
        <div class="col-md-6">
            <img src="../../../assets/images/20944917.jpg" class="img-fluid" alt="Image">
        </div>
    </div>
</div>
